---

- name: switch | create bridge
  community.routeros.command:
  commands:
      - >
        /interface bridge add name={{ interface.bridge.name }}
        protocol-mode={{ interface.bridge.protocol-mode }}
        vlan-filtering={{ 'yes' if interface.bridge.vlan-filtering else 'no' }}

- name: switch |configure switch ports
  community.routeros.command:
  commands:
      - /interface bridge port add bridge={{ loop_bridge }} interface={{ loop_port }} pvid={{ loop_vlan }}
      - /interface bridge vlan add bridge={{ loop_bridge }} untagged={{ loop_port }} vlan-ids={{ loop_vlan }}
      - /interface ethernet set {{ loop_port }} comment="{{ loop_comment }}"
  loop: "{{ interface.bridge.phys }}"
  vars:
    loop_port: "{{ item.port }}"
    loop_vlan: "{{ item.pvid }}"
    loop_comment: "{{ item.comment | default('configured by Ansible') }}"
    loop_bridge: "{{ interface.bridge.name }}"

- name: switch | set vlan security
  community.routeros.command:
  commands:
      - >
        /interface bridge port set bridge={{ interface.bridge.name }} 
        ingress-filtering=yes frame-types=admit-only-untagged-and-priority-tagged 
        [find interface={{ loop_port }}]
  loop: "{{ interface.bridge.phys }}"
  vars:
    loop_port: "{{ item.port }}"
  when:
    - interface.bridge.vlan_filtering == true
