---

- name: set system identity
  community.routeros.command:
    commands:
        - /system identity set name="{{ system.hostname }}"

- name: configure ip addressing & routing
  community.routeros.command:
    commands:
      - /interface vlan add interface=bridge name=BASE_VLAN vlan-id=99
      - /ip address add address=10.20.99.10/24 interface=BASE_VLAN
      # - /ip route add distance=1 gateway=10.20.99.1