---

- name: trunk | configure trunks
  community.routeros.command:
    commands:
      - /interface bridge port add bridge={{ interface.bridge.name }} interface={{ loop_port }}
      - /interface bridge vlan set bridge={{ interface.bridge.name }} tagged={{ loop_port }} [find vlan-ids={{ loop_vlan }}]
      - /interface ethernet set {{ loop_port }} comment="{{ loop_comment }}"
  loop: "{{ interface.bridge.trunk.phys }}"
  vars:
    loop_port: "{{ item.port }}"
    loop_vlan: "{{ item.pvid }}"
    loop_comment: "{{ item.comment | default('configured by Ansible') }}"

- name: trunk | set vlan security
  community.routeros.command:
    commands:
      - /interface bridge port set bridge={{ interface.bridge.name }} ingress-filtering=yes frame-types=admit-only-vlan-tagged [find interface={{ loop_port }}]
  loop: "{{ interface.bridge.trunk.phys }}"
  vars:
    loop_port: "{{ item.port }}"
  when:
    - interface.bridge.vlan_filtering == true
